<%= form_for(@studyfile, :html => {:multipart => true}) do |f| %>
  <% if @studyfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studyfile.errors.count, "error") %> prohibited this studyfile from being saved:</h2>

      <ul>
      <% @studyfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span>命名：</span>
    <%= f.text_field :filename, :id => 'file_name'%>
  </div>

  <div class="field">
    <span>分类：</span>
    <%= f.text_field :filetype%>
  </div>

  <div class="field">
    <p>介绍：</p>
    <%= f.text_area :description, :class => "description"%>
  </div>

  <ul id="editorTab" class="nav nav-tabs">
    <li><a href="#out_link" data-toggle="tab">添加外部链接</a></li>
    <li><a href="#file_upload" data-toggle="tab">上传文件</a></li>
  </ul>
  <div class="tab-content">
    <div id="out_link" class="tab-pane">
      <%= f.text_field :outsite%> （填写链接地址）
    </div>

    <div id="file_upload" class="tab-pane">
      <%= f.file_field :file_url, :id => 'file_uploader' %>
    </div>
  </div>

  <% if params[:section_id]%>
    <%= f.hidden_field :section_id, :value => params[:section_id] %>
  <% end %>

<!--   <div class="field">
    <%= f.label '下载分数'%><br />
    <%= f.text_field :point %>
  </div> -->

  <div class="actions">
    <%= f.submit '提 交', :class => "btn btn-primary"%>
  </div>
<% end %>
