<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>文件名:</b>
  <%= @studyfile.filename %>
</p>

<p>
  <b>简介:</b>
  <%= @studyfile.description %>
</p>

<% if !@studyfile.file_url.blank? %>
<p>
  <b>下载链接:</b>
  <span data-no-turbolink>
  <a href= <%= "#{@studyfile.file_url.to_s}?download" %> target="_blank" data-bind="attr: {href: $data.url?$data.url() + '?download':''}"><%= @studyfile.filename %></a>
  </span>
</p>
<% elsif @studyfile.outsite %>
  <%= @studyfile.outsite %>
<% end %>

<p>
  <b>上传者:</b>
  <%= @studyfile.user.username %>
</p>
<%= link_to '编 辑', edit_studyfile_path(@studyfile.id) %>|
<%= link_to '返 回', "/sections/#{@studyfile.section_id}" %>
</div>