<div class="container">
  <h3>文章管理</h3>
  <%= link_to '新文章', new_section_blog_path, :class => 'btn btn-primary' %></br></br>
  <table class="table">
    <tr>
      <th>标题</th>
      <th>作者</th>
      <th>喜欢</th>
      <th>访问计数</th>
      <th>发布时间</th>
      <th></th>
    </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= link_to blog.title, blog %></td>
      <td><%= blog.user.username %></td>
      <td><%= blog.faverates_count %></td>
      <td><%= blog.hit%></td>    
      <td><%= blog.created_at %></td>
      <td data-no-turbolink><%= link_to '编辑', edit_blog_path(blog) %> | <%= link_to '删除', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>
