<div class="container">
	<p id="notice"><%= notice %></p>
	<div class = "span3 blog_left">
		<p><%= @blog.created_at %></p>
		<p>
		  <b>访问计数:</b>
		  <%= @blog.hit %>
		</p>

		<p>
		  <b>喜欢计数:</b>
		  <b class="like_count"><%= @blog.faverates_count %></b>
		</p>
		<%= link_to '返 回', @blog.section %>
	</div>
  <div class="span8 text_style">
		  <h2 class = "center red_head"><%= @blog.title %></h2>

		<p data-no-turbolink>
		  <span>作者：<%=link_to @blog.user.username, @blog.user%></span>
		  <% if current_user && @user.index(current_user.id) %>
		    <%= link_to '编 辑', edit_blog_path(@blog) %>
		  <% end %>
		</p>

		<p>
		  <%= @blog.artical.html_safe %>
		</p>
		<div class="blog_buttom">
			<div class="blog_controller">
				<% if current_user && current_user.faverate.include?(Faverate.find_by_blog_id(@blog.id))%>
				  <a class="blog_like blog_dislike_link">
				  	<div class="blog_like_ctrl"></div>
				  </a>
				<% else %>
				  <a class="blog_like blog_like_link">
					  <div class="blog_like_ctrl"></div>
				  </a>
				<% end %>

				<a href="#comment_section", class="blog_reply_link"></a>
			</div>
		</div>
		<% if @comments%>
		  <div class="comment_content">
				<% @comments.each do |comment|%>
				  <div class='comment_box'>
              <%= image_tag gravatar_for(comment.user), :class => 'span1', :alt => comment.user.username%>
					  <div class="span6">
					  	<div style="padding-bottom:10px">
					  	  <%=link_to comment.user.username, comment.user, :class=>"comment_user" %>
					    </div>
					    <p><%= sanitize comment.comment %></p>
					  </div>
				  </div>
				<% end %>
		  </div>
		<% end %>
		<section id="comment_section">
			<%= form_tag("/comments/create_blog_comment", :method => "post") do %>
			  <textarea id="comment" class="span6 blog_comment" name="comment[comment]"></textarea>
			  <input id="blog_id" name="id" type="hidden" value=<%= @blog.id%>></br>
				<%= submit_tag "发表评论", :class => "btn btn-primary"%>
			<% end %>
	  </section>
	</div>
</div> 

