<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>版块:</b>
    <%= @author.section.name %>
  </p>

  <p>
    <b>申请人:</b>
    <%= @author.user.username %>
  </p>

  <p>
    <b>自我介绍:</b>
    <%= @author.content %>
  </p>

  <%= link_to '返 回', authors_path %>
</div>

