<h3>版块管理</h3>
<%= link_to '新建版块', new_admin_section_path, :class => 'btn btn-primary'%>
<table class="table" style="margin-top:15px;">
  <tr>
    <th>版块名称</th>
    <th>版块图片</th>
    <th>版块介绍</th>
    <th>审核状态</th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= link_to section.name, section %></td>
    <% if section.picture%>
    <td><%= image_tag section.picture.image_url, :style => 'height:25px; width:25px' %></td>
    <% else%>
    <td></td>
    <% end %>
    <td><%= section.description[0..25] %></td>
    <td>
      <% if section.pass? %>
        <span style="color:green">通过</span>
      <% else%>
        <span style="color:red">待审核</span>
      <% end%>
    </td>
    <td><%= link_to '编辑', edit_admin_section_path(section) %> | <%= link_to '删除', "/admin/sections/#{section.id}", method: :delete, data: { confirm: 'Are you sure?' } %> | <%if !section.pass?%><%= link_to '通过', "sections/#{section.id}/pass", method: :put %><% else%><%= link_to '隐藏', "sections/#{section.id}/unpass", method: :put %><% end%></td>
  </tr>
<% end %>
</table>
