<p id="notice"><%= notice %></p>
<% if @section.picture %>
<%= image_tag @section.picture.image_url %>
<% end %>
<p>
  <b>Name:</b>
  <%= @section.name %>
</p>

<p>
  <b>Description:</b>
  <%= @section.description %>
</p>

<%= link_to 'Edit', edit_admin_section_path(@section) %> |
<%= link_to 'Back', admin_sections_path %>
