<p id="notice"><%= notice %></p>
<%= image_tag @section.picture %>
<p>
  <b>Name:</b>
  <%= @section.name %>
</p>

<p>
  <b>Description:</b>
  <%= @section.description %>
</p>



<%= link_to 'Edit', edit_admin_section_path(@forum) %> |
<%= link_to 'Back', admin_sections_path %>
