<p id="notice"><%= notice %></p>
<% if @section.picture %>
<%= image_tag @section.picture.image_url %>
<% end %>
<p>
  <b>版块名称:</b>
  <%= @section.name %>
</p>

<p>
  <b>描述:</b>
  <%= @section.description %>
</p>

<p>
  <b>作者:</b>
  <% @section.users.each do |user|%>
    <%= link_to user.username, user %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_section_path(@section) %> |
<%= link_to 'Back', admin_sections_path %>
