<div class="container">
<p id="notice"><%= notice %></p>
<div><%= image_tag gravatar_for(@user), :class => 'gravatar', :alt => @user.username%></div>
<p>
  <h4><%= @user.username %></h4>
</p>
<p>
  <b>Ta的文章</b></br>
  <% @user.blog.each do |blog| %>
    <%= link_to blog.title, blog %></br>
  <% end %>
</p>
<p>
  <b>Ta的收藏:</b></br>
  <% @user.faverate.each do |faverate| %>
    <%= link_to faverate.blog.title, faverate.blog if faverate.blog %></br>
  <% end%>
</p>

<%= link_to '返 回', :back , :class=>'btn btn-primary'%>
</div>