<div class="container">
<p id="notice"><%= notice %></p>
<div style = 'height:90px'>
  <%= image_tag gravatar_for(@user), :class => 'gravatar', :alt => @user.username%>
  <% if current_user && @user.id == current_user.id%>
    <%= link_to "去Gravatar设置头像",'http://cn.gravatar.com/', :class => 'span2 section_username'%>
  <% end %>
</div>
<p>
  <h4 class="main_username"><%= @user.username %></h4>
</p>
<ul id="editorTab" class="nav nav-tabs">
  <li><a href="#his_articals" data-toggle="tab">Ta的文章</a></li>
  <li><a href="#his_sections" data-toggle="tab">Ta的版块</a></li>
  <li><a href="#his_store" data-toggle="tab">Ta的收藏</a></li>
</ul>

<div class="tab-content">
   <div id="his_sections" class="tab-pane">
    <p>
      <b>Ta的版块:</b></br>
      <% @user.sections.each do |section| %>
        <li style="margin-left:10px"><%= link_to section.name, section %></li>
      <% end%>
    </p>
  </div>

  <div id="his_articals" class="tab-pane">
    <p>
      <b>Ta的文章</b></br>
      <% @blogs.each do |blog| %>
        <li style="margin-left:10px"><%= link_to blog.title, blog %></li>
      <% end %>
      <%= paginate @blogs %>
    </p>
  </div>

  <div id="his_store" class="tab-pane">
    <p>
      <b>Ta的收藏:</b></br>
      <% @user.faverate.each do |faverate| %>
        <li style="margin-left:10px"><%= link_to faverate.blog.title, faverate.blog if faverate.blog %></li>
      <% end%>
    </p>
  </div>
</div>
<%= link_to '返 回', :back , :class=>'btn btn-primary'%>
</div>