<div class = "show_container">
  <div class = "span3 bordered">
    <h3 class = "red_head">文 章</h3>
    <% if @blog_classify %>
      <% @blog_classify.each do |classify| %>
        <h4 class = "red_head"><%= classify %></h4>
        <% @blog.each do |blog|%>
          <% if blog[:blogtype] == classify %>
            <li style="margin-left:10px"><%= link_to blog.title, blog %></li>
          <% end%>
        <% end%>
      <% end%>
    <% end%>
    <% if current_user %>
      <% if current_user.admin? || @user.index(current_user.id) %>
        <div class="newblog_content">
          <%= link_to '管理文章', section_blogs_path(@section), :class => 'btn btn-primary newblog'%>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class = "span9 bordered">
    <% @section.blogs[0..4].each do |blog|%>
      <div class = "artical_block text_style">
        <h3><%= link_to blog.title, blog, :class => 'red_head' %></h3>
        <p><strong>作者：</strong><%= link_to blog.user.username, blog.user %></p>
        <%= blog.artical.html_safe %>
      </div>
      <% end %>
  </div>

  <div class = "span3 bordered">
    <h3 class = "red_head">资 料</h3>
    <% if @file_classify %>
      <% @file_classify.each do |classify| %>
      <h4 class = "red_head"><%= classify %></h4>
        <% @file.each do |topic|%>
          <% if topic[:filetype] == classify %>
            <% if !topic.outsite.blank?%>
              <li style="margin-left:10px"><%= link_to topic.filename, topic.outsite, :target=> "_blank"%></li>
            <% else %>
              <li style="margin-left:10px"><%= link_to topic.filename, topic, :target=> "_blank" %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user %>
      <% if current_user.admin? || @user.index(current_user.id) %>
        <div class="newblog_content">
          <%= link_to '管理资料', section_studyfiles_path(@section), :class => 'btn btn-primary newblog'%>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class = "span3 bordered">
    <h3 class = "red_head">作 者</h3>
    <% if @section.users%>
      <% @section.users.each do |user|%>
        <div class="section_user">
          <%= image_tag gravatar_for(user), :class => 'span1', :alt => user.username%>
          <%= link_to user.username, user, :class => 'span1 section_username' %></br>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
