<div class = "show_container">
  <div class = "span3 bordered">
    <h3 class = "red_head">文 章</h3>
    <% if @blog_classify %>
      <% @blog_classify.each do |classify| %>
        <h4 class = "red_head"><%= classify %></h4>
        <% @blog.each do |blog|%>
          <% if blog[:blogtype] == classify %>
            <li style="margin-left:10px"><%= link_to blog.title, blog %></li>
          <% end%>
        <% end%>
      <% end%>
    <% end%>
    <% if current_user %>
      <% if current_user.admin? || @user.index(current_user.id) %>
        <div class="newblog_content">
          <%= link_to '管理文章', section_blogs_path(@section), :class => 'btn btn-primary newblog'%>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class = "span9 bordered">
    <% @section.blogs.each do |blog|%>
      <div class = "artical_block">
        <h3><%= link_to blog.title, blog, :class => 'red_head' %></h3>
        <%= sanitize blog.artical %>
      </div>
      <% end %>
  </div>

  <div class = "span3 bordered">
    <h3 class = "red_head">资 料</h3>
    <% if @file_classify %>
      <% @file_classify.each do |classify| %>
      <h4 class = "red_head"><%= classify %></h4>
        <% @file.each do |topic|%>
          <% if topic[:filetype] == classify %>
            <li><%= link_to topic.filename, "/studyfiles/#{topic.id}/download" %></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

   <div class = "span3 bordered">
    <h3 class = "red_head">作 者</h3>
    <% if @section.users%>
      <% @section.users.each do |user|%>
        <%= link_to user.username, user %></br>
      <% end %>
    <% end %>
  </div>
</div>
