<!DOCTYPE html>
<html>
	<head>
	  <title>DataDownload</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="home">
		<%= render "header_show"%>
		<div class = "home_container">
			<div class = "span3 bordered">
				<h3>文章列表</h3>
				<% @blog_classify.each do |classify| %>
				<h4><%= blog_type2name classify %></h4>
			  	<% Blog.where(:blogtype => classify).each do |topic|%>
			  		<li><%= link_to topic.title, topic %></li>
			  	<% end %>
			  <% end %>
			</div>

			<div class = "span7 bordered">
				<% Blog.all.each do |blog|%>
			  	<div class = "artical_block">
			  		<h4><%= blog.title %></h4>
			  		<%= sanitize blog.artical %>
			  	</div>
			  	<% end %>
			</div>

			<div class = "span3 bordered">
				<h3>资料列表</h3>
				<% @file_classify.each do |classify| %>
				<h4><%= file_type2name(classify) %></h4>
			  	<% Studyfile.where(:filetype => classify).each do |topic|%>
			  		<li><%= link_to topic.filename, "/studyfiles/#{topic.id}/download" %></li>
			  	<% end %>
			  <% end %>
			</div>
		</div>
	</body>
</html>