<div class = "home_container">
	<div class = "span3 bordered">
		<h3>文章列表</h3>
	  <% @blog_classify.each do |classify| %>
	    <h4><%= blog_type2name classify %></h4>
	    <% @blog.each do |blog|%>
	      <% if blog[:blogtype] == classify %>
	        <li><%= link_to blog.title, blog %></li>
	      <% end%>
	    <% end%>
    <% end%>
	</div>

	<div class = "span7 bordered">
		<% Blog.all.each do |blog|%>
	  	<div class = "artical_block">
	  		<h4><%= blog.title %></h4>
	  		<%= sanitize blog.artical %>
	  	</div>
	  	<% end %>
	</div>

	<div class = "span3 bordered">
		<h3>资料列表</h3>
		<% @file_classify.each do |classify| %>
		<h4><%= file_type2name(classify) %></h4>
	  	<% @file.each do |topic|%>
	  	  <% if topic[:filetype] == classify %>
	  		  <li><%= link_to topic.filename, "/studyfiles/#{topic.id}/download" %></li>
	  		<% end %>
	  	<% end %>
	  <% end %>
	</div>
</div>