<!DOCTYPE html>
<html>
	<head>
	  <title>DataDownload</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="home">
	<div class="navbar">
		<div class="navbar-inner">
		  <div class="container">
		  	<div style="float:left">
		    	<a class="brand" href="#">Brand</a>
		     	<ul class="nav">
		      	<li class="active"><a href="#">首页</a></li>
		      	<li><a href="#">论坛</a></li>
		      	<li><a href="/studyfiles">后台管理</a></li>
		     </ul>
		  	</div> 
		    <div style="float:right">
		      <form class="navbar-search">
		  			<% if current_user%>
				  		<a href="#"><%= current_user.username%></a> | <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
						<% else%>
				  		<%= link_to('登录', new_user_session_path)  %> | <a href="#">注册</a>
				 	  <% end%>
		  		</form>
				</div>
		  </div>
		</div>
	</div>

		<div class = "home_container">
			<div class = "span3 bordered">
				<h3>文章列表</h3>
				<% @blog_classify.each do |classify| %>
				<h4><%= blog_type2name classify %></h4>
			  	<% Blog.where(:blogtype => classify).each do |topic|%>
			  		<li><%= topic.title %></li>
			  	<% end %>
			  <% end %>
			</div>

			<div class = "span7 bordered">
				<% Blog.all.each do |blog|%>
			  	<div class = "artical_block">
			  		<h4><%= blog.title %></h4>
			  		<%= sanitize blog.artical %>
			  	</div>
			  	<% end %>
			</div>

			<div class = "span3 bordered">
				<h3>资料列表</h3>
				<% @file_classify.each do |classify| %>
				<h4><%= file_type2name(classify) %></h4>
			  	<% Studyfile.where(:filetype => classify).each do |topic|%>
			  		<li><%= topic.filename %></li>
			  	<% end %>
			  <% end %>
			</div>
		</div>
	</body>
</html>