<div class="span3">
	<ul class="nav nav-pills nav-stacked">
	   <li><%= link_to '首页管理', admin_sections_path %></li>
	   <li><%= link_to '文件管理', admin_studyfiles_path %></li>
	   <li><%= link_to '用户管理', admin_users_path %></li>
	   <li><%= link_to '博客管理', admin_blogs_path %></li>
	   <li><%= link_to '版块管理', admin_sections_path %></li>
	   <li><%= link_to '回复审核', admin_comments_path %></li>
     <li><%= link_to '作者申请审核', admin_authors_path %></li>
	   <li><%= link_to '主帖审核', admin_topics_path %></li>
	</ul>
</div>