<div class="span3">
	<ul class="nav nav-pills nav-stacked">
	   <li><a href="#">首页管理</a></li>
	   <li><%= link_to '文件管理', studyfiles_path %></li>
	   <li><%= link_to '用户管理', users_path %></li>
	   <li><%= link_to '博客管理', blogs_path %></li>
	   <li><%= link_to '论坛管理', forums_path %></li>
	   <li><%= link_to '回复审核', comments_path %></li>
	   <li><%= link_to '主帖审核', topics_path %></li>
	</ul>
</div>