<!DOCTYPE html>
<html>
  <head>
    <title>Text-Learn</title>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?abdb3e4f7be05e61250980ada8b91d68";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>
  <body id="<%= @body_id %>">
    <%= render "layouts/header"%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
